:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 15px;
  margin-top: 0.83em;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0 0 5px 0;
    padding: 0;
}

input{
    width:350px;
}